<h1>
  ABOUT
</h1>
<div class="media">
  <div class="media-left">
    <img class="thumbnail" src="images/profile.jpg"/>
  </div>
  <div class="media-body">
    <p>
      I chase what interests me, and I've become a
      <strong>full-stack developer</strong>
      along the way.
      I enjoy the new and challenging problems I find whether I'm building a client-side web app with fancy animations, a performant backend written in Go, or just a simple bash script.
    </p>
    <p>
      Eventually I found my way to the exciting area of
      <strong>distributed systems</strong>.
      Working on these systems taught me that the code I write lives in the real world, where machines die and networks are unreliable.
    </p>
    <p>
      When I'm away from the computer, I enjoy board games, craft beer, table tennis, and comics.
      I'm also exploring the weird and awesome city that is San Francisco.
      Highlights so far include a pillow fight at the Ferry Building, a big wheel race on Easter, and trying to escape a 
      <a href="http://realescapegame.com/rersf1/" target="_blank">
        mysterious room
      </a>.
    </p>
  </div>
</div>
