<p class="lead">
  Full-stack developer interested in distributed systems and automation
</p>
<hr/>
<a href="/#/work" class="btn btn-primary btn-lg btn-block">
  <i class="fa fa-briefcase"></i>
  See some <strong>work</strong> I've done
</a>
<a href="/#/resume" class="btn btn-primary btn-lg btn-block">
  <i class="fa fa-file-text"></i>
  Check out my <strong>resume</strong>
</a>
<a href="/#/about" class="btn btn-primary btn-lg btn-block">
  <i class="fa fa-user"></i>
  Learn more <strong>about</strong> me
</a>
