<p class="lead">
  Full-stack developer interested in distributed systems and automation
</p>
<hr/>
<a href="/#/work" class="btn btn-primary btn-lg btn-block">
  <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
  See some <strong>work</strong> I've done
</a>
<a href="/#/resume" class="btn btn-primary btn-lg btn-block">
  <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
  Check out my <strong>resume</strong>
</a>
<a href="/#/about" class="btn btn-primary btn-lg btn-block">
  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
  Learn more <strong>about</strong> me
</a>
