<h1>
  WORK
</h1>
<div class="media">
  <div class="media-left">
    <a href="/#/work/pivotal">
      <img class="media-object" src="<%= lorem.image('128x128') %>">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <a href="/#/work/pivotal">
        Pivotal
      </a>
    </h4>
    <%= lorem.paragraphs 1 %>
  </div>
</div>
