@charset "utf-8";

@import 'theme_superhero/_variables.scss';

@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@import 'theme_superhero/_bootswatch.scss';

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  box-sizing: border-box;
  padding-top: $navbar-height;
}

.navbar {
    font-size: 16px;

    .navbar-brand {
        font-size: 150%;
        line-height: 75%;
    }
}

.btn-block {
    text-align: left;
    + .btn-block {
        margin-top: 20px;
    }

    i, span {
        margin-right: 14px;
    }
}

.page-container {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.pt-page {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.media {

    overflow: auto;

    .media-left, .media-right, .media-body {
        display: inline;
    }
    .media-left {
        float: left;
    }
    .thumbnail {
        background-color: #ebebeb;
        margin-right: 15px;
        margin-bottom: 15px;
    }
    .media-heading {
        small {
            margin-top: 4px;
            display: block;
        }
    }
}

.panel {
  .panel-footer {
    .btn {
      margin-right: 15px;
    }
  }
}

.fade-children > * {
  &.ng-enter {
    transition: 0.5s linear all;
    opacity:0;
  }
  &.ng-enter-stagger {
    transition-delay: 0.1s;

    // in case the stagger doesn't work then the duration value
    // must be set to 0 to avoid an accidental CSS inheritance
    transition-duration: 0s;
  }
  &.ng-enter.ng-enter-active {
    opacity:1;
  }
}

//Transition adapted from https://github.com/codrops/PageTransitions
.reveal-animation {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transform: translate(0, 0);
    box-sizing: border-box;

    &.ng-enter {
        overflow: hidden;
        -webkit-animation: moveFromRight .6s ease both;
        animation: moveFromRight .6s ease both;
    }

    &.ng-leave {
        overflow: hidden;
        -webkit-animation: moveToLeft .6s ease both;
        animation: moveToLeft .6s ease both;
    }
}

@-webkit-keyframes moveToLeft {
    from { }
    to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
    from { }
    to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
    from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
    from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRight { 
    from { }
    to { -webkit-transform: translateX(100%); }
}
@keyframes moveToRight { 
    from { }
    to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveFromRight {
    from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
    from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}
