@charset "utf-8";

@import '_normalize';

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background: #d4d4d4 url("../images/background.png");
  text-align: center;
  font-family: sans-serif; 
  height: 100%;
  box-sizing: border-box;
}

.nav-bar {
  
  width: 100%;
  background-color: #2f0b24;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  .nav-home.nav-link {
    flex-grow: 1;
    text-align: left;

    a {
      color: #8ae234;
    }
  }

  .nav-link {
      padding: 10px 35px;

      a {
          color: #3465A4;
      }
  }

  .nav-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    flex-grow: 1;
  }
}

.page-container {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.pt-page, .reveal-animation {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: translate(0, 0);
    box-sizing: border-box;
}

//Transitions adapted from https://github.com/codrops/PageTransitions
.reveal-animation {

    &.ng-enter {
        -webkit-animation: moveFromRight .6s ease both;
        animation: moveFromRight .6s ease both;
    }

    &.ng-leave {
        -webkit-animation: moveToLeft .6s ease both;
        animation: moveToLeft .6s ease both;
    }
}

@-webkit-keyframes moveToLeft {
    from { }
    to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
    from { }
    to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
    from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
    from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRight { 
    from { }
    to { -webkit-transform: translateX(100%); }
}
@keyframes moveToRight { 
    from { }
    to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveFromRight {
    from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
    from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}
